name: Build and release

on:
  push:
    branches:
      - master

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDDTHHmmss
          utcOffset: "+08:00"

      - uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --prune --unshallow --tags

      - name: Grant permission for scripts
        run: chmod +x ./scripts/*.sh

      - name: Check should release
        id: release
        run: ./scripts/release_check.sh

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build apks
        uses: gradle/gradle-build-action@v3
        with:
          arguments: assembleRelease --scan
        env:
          PASSWORD: "${{ secrets.PASSWORD }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build aab
        if: steps.release.outputs.release == 'true'
        uses: gradle/gradle-build-action@v3
        with:
          arguments: bundlePlayRelease --scan
        env:
          PASSWORD: "${{ secrets.PASSWORD }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: PreRelease Package
        uses: marvinpinto/action-automatic-releases@latest
        if: steps.release.outputs.release == 'false'
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "nightly"
          prerelease: true
          files: |
            app/build/outputs/apk/github/release/*
            app/build/outputs/apk/free/release/app-free-release.apk

      - name: Release Package
        uses: marvinpinto/action-automatic-releases@latest
        if: steps.release.outputs.release == 'true'
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ steps.release.outputs.version }}"
          prerelease: false
          files: |
            app/build/outputs/apk/github/release/*
            app/build/outputs/apk/free/release/app-free-release.apk
            app/build/outputs/bundle/playRelease/app-play-release.aab

      - name: Create whatsNew
        if: steps.release.outputs.release == 'true'
        run: |
            ./scripts/whats_new.sh
        env:
          VERSION: ${{ steps.release.outputs.version }}

      - name: Upload Android Release to Play Store
        uses: r0adkll/upload-google-play@v1.1.3
        if: steps.release.outputs.release == 'true'
        with:
          releaseFiles: app/build/outputs/bundle/playRelease/app-play-release.aab
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: top.learningman.push
          track: beta
          mappingFile: app/build/outputs/mapping/playRelease/mapping.txt
          whatsNewDirectory: whatsNew
